@yellow: #fffa19;
@green: #32a852;
@red: #d93f2e;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.anchoYRadio(@width: 100%, @radius: 0px){
	width: @width;
	border-radius: @radius;
}

.jumbotron{
	background-color: @yellow;
	color: black;
	.margenes(50px, 5px);
}

footer{
	padding: 10px 10px 0px 10px;
	background-color: @yellow;
	.margenes(10px, 0px);
}

.card-hotel{
	flex: 1 200px;
	.margenes(10px, 0px);	
}

.btn-reserva{
	.anchoYRadio(100%, 0px);
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}