$yellow: #fffa19;
$green: #32a852;
$red: #d93f2e;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin anchoYRadio($width, $radius){
	width: $width;
	border-radius: $radius;
}

.jumbotron{
	background-color: $yellow;
	color: black;
	@include margenes(50px, 5px);
}

footer{
	padding: 10px 10px 0px 10px;
	background-color: $yellow;
	@include margenes(10px, 0px);
}

.card-hotel{
	flex: 1 200px;
	@include margenes(10px, 0px);	
}

.btn-reserva{
	@include anchoYRadio(100%, 0px);
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}